.s-image {
    margin-left: 0px;
    width: 465px;
}

.s-image-comment {
    padding-top: 15px;
    padding-left: 5px;
    margin: 10px 0px;
    height: 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}