.ui {
    overflow: hidden;
}

.sidebar {
    float: left;
    width: 80px;
}

.dashboard {
    float: left;
    /* header없애면 바꾸기 */
    width: calc(100% - 80px);
    height: calc(100vh - 67px);
    background-color: #17b0bb;
    padding: 30px;
}

.dashboard-wrapper {
    height: 100%;
    padding: 40px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}