.a-upload-video {
    float: left;
    position: relative;
    margin-top: -15px;
    background-color: white;
    width: calc((100vw - 375px)/2);
    min-width: 500px;
    height: 700px;
}

.s-video-p {
    width: 150px;
}

.hidden-field {
    display: none;
}