.main {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('../../static/images/main-background.png');
}

.pSection {
    width: 300px;
    padding: 310px 0 30px 30px;
}

.pStyle {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}

.loginSection{
    overflow: hidden;
    padding: 0;
}

.tempSection{
    overflow: hidden;
    padding: 0;
}

.p {
    background-color: #17b0bb;
}

.p-login {
    background-color: #17b0bb85;
}

.s-login input {
    color: transparent !important;
}

.s {
    background-color: #9a5ce5;
}

.s-login {
    background-color: #9a5ce585;
}

.active {
    visibility: hidden;
}

.trans {
    color: transparent;
}

.login-selector {
    width: 49vw;
    padding: 20px 50px;
    float: left;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.login {
    width: 49vw;
    padding: 20px 50px;
    float: left;
}

.input-form {
    float: left;
    width: 290px;
    margin: 0;
    padding-right: 10px;
}

.input-button {
    width: 80px;
    height: 90px;
    margin-left: 10px;
}